.ec {
    margin: 0 auto;
    padding: 0px 0px 15px 0px;
    font-size: 14px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ec-container {
    position:relative;
    background-color: #5CA7A7;
    display: inline-block;
    height: 152px;
    width: 201px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
}

#server-error {
    background-color: rgba(255,40,40,0.75);
    display: none;
    position: absolute;
    height: 152px;
    width: 201px;
    top:0px;
    left:0px;
    z-index: 20;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
}

#server-error>h2,h4{
    color:#fff;
    padding: 10px 10px 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgba(225,40,40, 0,5);
    text-shadow: 1px 1px 5px #f00, 0 0 10px #000, 1px 1px 5px #f00;
    margin-top: 5px;
}
::-moz-selection { background: #5CA7A7; color: #fff; text-shadow: none; }
::selection { background: #5CA7A7; color: #fff; text-shadow: none; }

input[type="radio"] {
    display: none;
}

input[type="radio"]#usd + label {
    background: url("../images/flags/USDflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#usd:checked + label {
    background: url("../images/flags/USDflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

input[type="radio"]#gbp + label {
    background: url("../images/flags/GBPflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#gbp:checked + label {
    background: url("../images/flags/GBPflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

input[type="radio"]#aud + label {
    background: url("../images/flags/AUDflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#aud:checked + label {
    background: url("../images/flags/AUDflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

input[type="radio"]#czk + label {
    background: url("../images/flags/CZKflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#czk:checked + label {
    background: url("../images/flags/CZKflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

input[type="radio"]#cad + label {
    background: url("../images/flags/CADflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#cad:checked + label {
    background: url("../images/flags/CADflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

input[type="radio"]#chf + label {
    background: url("../images/flags/CHFflag.png") no-repeat;
    background-size: 90%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

input[type="radio"]#chf:checked + label {
    background: url("../images/flags/CHFflag.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
}
