body{
    background-image: url("../images/carbon.jpg") !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
.container{
    background-color: #c2d6d6;
    margin-top: 100px;
    margin-bottom: 120px;
    border-radius: 15px;
}

.affix {
      top: 0;
      width: 100%;
  }

.affix + .container {
    padding-top: 70px;
}

.balance{
	font-weight:bold;
	padding-right:10px;
	padding-top:10px;
	color:#435A5A;
}

.balance-value{
	font-size:30px;
    text-shadow: 1px 1px 4px   #669999;
	color: #5CA7A7;
}

@media screen and (max-width: 768px){
    .page-header{
        display: none;
    }
}
.page-header{
	border:none !important;
	height:100px;
    position: relative;
}

.header-text{
	float:left;
	padding-left: 50px;
	color:#5CA7A7;
	letter-spacing:10px;
	font-style:bold;
}

.logo{
	float:left;
	padding-left:50px;
    height:100px;
}

.footer {
   
    width: 100%;
    margin-bottom: 0;
	background: #222222;
	position: fixed;
	bottom: 0;
	text-align: center;
}

.fa{
	vertical-align: middle;
}

.socialnav{
	float: right;
}

.social {
	list-style: none;
	padding: 0 10px 0 0;	
}

.social li{
	float:  left;
	margin-left: 10px;
}

.social-icon{
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #9d9d9d;
}

.social-icon:hover,
.social-icon:focus{
	color: #ffffff;
	font-size: 19px;
}
.footer{
	padding-bottom: 5px;
}
.footer p{
	margin: 0 auto;
	color: #9d9d9d;
	vertical-align: middle;
	width:100%; 
	position: absolute;
	z-index: -1;
}

.copy{
	text-align: center;
 }

/*this makes the small owlhead wink*/
#wink{
	position:relative;
	margin:0 auto;
	padding-right:50px;
}

#wink img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition:opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition:opacity 0.5s ease-in-out;
}

#wink img.owlhead-top:hover{
	opacity:0;
}

a{
	cursor: pointer;
}
#sovyNavImg{
	padding: 10px 15px;
}

th,td{
	word-wrap: break-word;
}

#payments-table, #incomes-table, #turnovers-table{
	table-layout: fixed;
}

.error{
	color:#ff5050;
}
.success{
	color:#00cc66;
}

/* CSS Document Start of Carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    width: 80%;
    margin: auto;
}

.size{
  width:100%;
  height: auto;
  padding: 25px;
  margin: 50px;
  
}

.carousel{
        width:740px;
        height:auto;
}
 /* CSS Document End of Carousel*/